<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form eight wide column">
      <div class="ui stacked segment">
        <h4 class="ui dividing header">Select Point of Interest</h4>
        

        <form action="/addpoi" method="POST">

          <div class="ui equal width form">
            <div class="fields">
              <div class="field">
                <i class="blue circular large coffee link icon"></i>
                <div class="ui radio checkbox">
                  <input type="radio" name="poi" value="Coffee Shop">
                  <label>Coffee Shop</label>
                </div>
              </div>
              <div class="field">
                <i class="green circular large film icon"></i>
                <div class="ui radio checkbox">
                  <input type="radio" name="poi"  value ="Movies">
                  <label>Movies</label>
                </div>
              </div>

              <div class="field">
                <i class="brown circular large bed icon"></i>
                <div class="ui radio checkbox">
                  <input type="radio" name="poi" value="Hotels">
                  <label>Hotels</label>
                </div>
              </div>

              <div class="field">
                <i class="red circular large utensils icon"></i>
                <div class="ui radio checkbox">
                 <input type="radio" name="poi" value="Restaurants">
                 <label>Restaurants</label>
               </div> 
             </div>

           </div>
         </div>

         <div class="field">
           <label>Name</label>
           <input type="text" name="name" placeholder="Amenity Name">
         </div>

         <div class="field">
          <label>Rating</label>
          <div class="ui star rating" data-rating="0">
         </div>
          <input type="hidden" id="rating" name="rating" value="0">
        </div>


        <div class="field">
          <label>Description</label>
          <textarea name="description"></textarea>
        </div>

        <div class="two fields">
         <div class="field">
           <label>longitude</label>
           <input type="text" name="long" placeholder="00.00">
         </div>
         <div class="field">
           <label>latitude</label>
           <input type="text" name="lat" placeholder="00.00">
         </div>
         
       </div>
         <div class="field">
          <input type="file" class="inputfile" onchange="readfile()">

         {{!-- <input type="file" class="inputfile" name="filename"> --}}
         </div>
          <input type="hidden" id="file-text" name="filename">

        <button class="ui blue submit button">Submit</button>
     </form>
   </div>
 </div>

 <aside class="ui eight wide column">
  <img class= "ui right floated large image" src="images/map.png">
</div>
</aside>
</div>
</section>

<script>
$('.ui.rating')
.rating({
  onRate: function(rating){

console.log(rating)
  document.getElementById("rating").value = rating;
  }

});

function readfile(){
  var file    = document.querySelector('input[type=file]').files[0];
  var reader = new FileReader()

  reader.addEventListener("load", function () {
    var src = reader.result;
    //var src = src.replace("data:application/octet-stream;base64,", "")
    //console.log(src)
    document.getElementById("file-text").value = src;
  }, false);

    if (file) {
    reader.readAsDataURL(file);
  }
}

</script>
