<nav class="ui menu">
  <header class="header item"> <a href="/"> POI APP <i class="red big map marker alternate icon"></i> </a> </header>
    <div class="right menu">
    <a class="item" href="/signup"> Signup </a>
    <i class="user plus icon"></i>
    <a class="item" href="/login">  Login </a>
    <i class="user icon"></i>
  </div>
</nav>