{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui middle aligned grid">
    <aside class="seven wide column">
      <img src="images/POI2.jpg" class="ui big image">
    </aside>

    <article class="seven wide column">
      <div class="ui center aligned container">
        <header class="ui huge header"> Point of Interests App</header>
        <p > Capturing and Sharing Places Around You! </p>
        {{> error}}
    
      </div>
    </article>

  </div>
</section>